.Rproj.user
.Rhistory
.RData
.Ruserdata
filtered_out_data.csv
filtered_NA_data.csv
FASTA Conversion/20230217_112231_hrf20230212_AAML1031_Plates124_Report.csv
FASTA Conversion/jlb20220525_BosTaurus_RefUniprotproteome_UP000009136.txt
FASTA Conversion/test.txt