.Rproj.user
.Rhistory
.Ruserdata
.DS_Store
man/figure/workflow.pptx
tests/testData/20230217_112231_hrf20230212_AAML1031_Plates124_Report.csv
tests/testData/jlb20220525_BosTaurus_RefUniprotproteome_UP000009136.txt
tests/storedData/trimFASTA_Toy.txt
vignettes/Venn_information.csv
vignettes/filtered_NA_data.csv
vignettes/filtered_out_data.csv
vignettes/full_protein_information.csv
vignettes/preprocess_protein_information.csv
vignettes/preprocess_Filtered_Out_Unique.csv
vignettes/preprocess_Filtered_Out_NaN.csv
vignettes/summarize_data.csv
