.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
filtered_out_data.csv
filtered_NA_data.csv
FASTA Conversion/20230217_112231_hrf20230212_AAML1031_Plates124_Report.csv
FASTA Conversion/jlb20220525_BosTaurus_RefUniprotproteome_UP000009136.txt
FASTA Conversion/test.txt
20230510_msDIAlogue HeLa-yeast_Report.csv
20230510_msDIAlogue HeLa-6mix_Report.csv
20230530_103408_20230525_HeLa-6mix_cleanedMQdb_MS2quant_Report.csv
20230530_103340_20230525_HeLa-6mix_cleanedMQdb_MS1quant_Report.csv
preprocess_Filtered_Out_Unique.csv
preprocess_Filtered_Out_NaN.csv

docs
